html
  height: 100%
body
  height: 100%

#cover
  background: url('img/bg.jpg')
  background-position: center center
  repeat: no-repeat
  background-size: cover
  color: rgba(255,255,255,0.9)
  height: 100%
  text-align: center
  display: flex
  align-items: center

#cover-caption
  width: 100%

.col-sm-10
  width: 100%

.bg-inverse
  background-color: rgba(0,0,0,0.6)

.navbar-toggler
  color: rgba(255,255,255,0.9)
