<section id="about">
  <div class="section-content">
    <div class="container">
      <div class="col-md-6">
        <div class="about-text">
          <h3>About Me</h3>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum quaerat, fugit. Provident, eius eaque. Doloremque cupiditate, enim, accusamus reprehenderit ea molestias fugiat quibusdam sit quo suscipit recusandae officia dolore dolorem!</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore accusantium provident, beatae, corporis quis, distinctio architecto et consequuntur modi eligendi, rem dicta cumque vel culpa ipsa sapiente doloremque magni ea!</p>
          <h5>Follow me on the web</h5>
          <a href="#" class="btn btn-sm btn-outline-secondary">Twitter</a>
          <a href="#" class="btn btn-sm btn-outline-secondary">Facebook</a>
          <a href="#" class="btn btn-sm btn-outline-secondary">LinkedIn</a>
        </div>
      </div>
    </div>
  </div>
</section>
